<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               status="WARN"
               strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config https://raw.githubusercontent.com/apache/logging-log4j2/rel/2.14.1/log4j-core/src/main/resources/Log4j-config.xsd">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%d{YYYY-MM-DD HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %style{[%t]}{magenta} %highlight{%5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue, TRACE=normal} %style{%logger}{cyan} - %style{%notEmpty{[%marker] }}{bright}%msg%n"/>

        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.mockk.impl" level="INFO"/>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
